<h1>SignIn</h1>
<form action="/users/create-session" method="post">
    <input type="text" name="name" placeholder="Enter your name" required>
    <input type="password" name="Password" placeholder="Enter your password" required>
    <input type="submit" name="Sign_in">
    
</form>